.container-fluid {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
}

.col-1-8 {
  width: 100% / 8;
}

.col-2-8 {
  width: 100% / 8 * 2;
}

.col-3-8 {
  width: 100% / 8 * 3;
}

.col-4-8 {
  width: 100% / 8 * 4;
}

.col-5-8 {
  width: 100% / 8 * 5;
}

.col-6-8 {
  width: 100% / 8 * 6;
}

.col-7-8 {
  width: 100% / 8 * 7;
}

.col-8-8 {
  width: 100%;
}
