@font-face {
  font-family: 'Palatino';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Palatino.ttc');
}

@font-face {
  font-family: 'Copernicus';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/copernicus_webfont/Copernicus-Heavy.eot'); /* IE9 Compat Modes */
  src: url('/fonts/copernicus_webfont/Copernicus-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/copernicus_webfont/Copernicus-Heavy.woff') format('woff'),
    url('/fonts/copernicus_webfont/Copernicus-Heavy.ttf') format('truetype'),
    url('/fonts/copernicus_webfont/Copernicus-Heavy.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'FuturaStd';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/FuturaStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaStd';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/FuturaStd-BookOblique.otf') format('opentype');
}

@font-face {
  font-family: 'FuturaStd';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/FuturaStd-Medium.otf') format('opentype');
}

body {
  font-family: 'Palatino';
  font-weight: 400;
  font-style: normal;

  color: $main-text;
}

aside {
  font-family: 'FuturaStd';
  text-transform: uppercase;
  font-size: 0.8em;

  strong {
    font-weight: 600;
  }

  color: $main-gray;
}

address {
  font-style: normal;
  font-family: 'FuturaStd';
  text-transform: uppercase;
  font-size: 0.8em;

  color: $main-gray;
  display: inline-block;
}

h1 {
  font-family: 'Copernicus';
  font-weight: 900;
}

h2 {
  margin-left: -30px;
  font-family: 'Copernicus';
  font-weight: 900;

  color: $secondary;
}
